*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}
body{
    font-size: 15px;
    line-height: 24px;
    color: rgb(16, 31, 24);
    overflow-x: hidden;
    min-width:1450px;
}
/*header*/
#header{
    background-image: url(images/header.jpg);
    color: white;
    height: 134px;
    width: 100%;
    position: relative;
}
.header_inner{
    width: 1320px;
    margin: 0 auto
}
.logo{
    position: absolute;
    top: 30%;
    left: 10%;
}
.lnb{
    float: right;
    font-size: small;
}
.lnb ul li{
    float: left;
    padding: 20px 30px;
}
.main_menu{
    float: right;
    margin-top: 73px;
}
.main_menu>li{
    float: left;
    font-weight: bold;
}
/*sub menu*/
.nav{
    padding-bottom: 20px;
}
.nav_inner{
    width: 1320px;
    margin: 0 auto;
}
.nav_inner>ul>li{
    padding-bottom: 23px;
}
.nav_inner>ul>li{
    float: left;
}
.nav_inner>ul>li{
    position: relative;
}
.sub{
    position: absolute;
    top: 47px;
    display: none;
    z-index: 99;
    width: 192.86px;
    left: 50%;
    transform: translateX(-50%);
}
.sub li{
    text-align: center;
}
.nav_inner>ul>li:hover .sub{
    display: block;
}
.sub li a{
    display: block;
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(33, 56, 31);
    border-top: #666 1px solid;
    border-bottom: 1px solid #666;
    font-weight: normal;
    font-size: small;
}
.sub li a:hover{
    background-color: rgb(14, 19, 14);
}
.main_menu{
	text-transform:uppercase;
	text-align:center;}	
.main_menu>li>a{
    display:block;
    padding:0 70px;
}
.main_menu>li a:hover{color:#fff;}
.solid{width:100%;
		margin:auto;
		margin-top:20px;
		height:5px;
		background:gray;
		visibility:hidden;
		opacity:0;
		transform:scaleX(0);
		transition-property:opacity, transform;
		transition-duration:0.5s;}
.main_menu>li>a:hover .solid{transform:scaleX(1);
						opacity:1;
						visibility:visible;}	

/*header E*/
#banner{
    width: 100%;
}
#banner img{
    width: 100%;
}
.title{
    padding-top: 100px;
    text-align: center;
    font-weight: bolder;
}
.mini_t{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.mini_tt{
    font-size: small;
    text-align: center;
    padding-bottom: 100px;
}


/*tab*/
.wrapper{
            width:1320px;
            margin:0 auto;
        }
.tabs li{
            float:left;
            border: 1px solid rgb(14, 19, 14) ;
            margin: 0 10px;
}
.tabs li a{
    padding:5px 25px;
    
}
.tabs{
            height:67px;
            padding: 0 300px;
        }
.active{
            font-weight:bold;
            background: rgb(14, 19, 14);
            color: #fff;
        }
.tab_content{
            padding:50px;
        }
.tab_content h1{
            padding-bottom:20px;
        }
.mb_next, .mb_prev{color: gray;}
.mb .swiper-button-next:after{
    content: url(images/arrown_r.png);
}
.mb .swiper-button-prev:after{
    content: url(images/arrow_l.png);
}
.swiper-button-prev{
    left: 10px;
    top: 315px;
}
.swiper-button-next{
    right: 10px;
    top: 315px;
}
.space_slide{
    width: 100%;
}
.mb{
    text-align: center;
}



#why>.title{
    padding-bottom: 60px;
}
#why{
    width: 1320px;
    height: 1700px;
    margin: 0 auto;
}
.card{
    width: 1320px;
    height: 410px;
    padding: 50px 0;
}
.img1, .text2, .img3{
    float: left;
}
.text1, .img2, .text3{
    float: right;
}
.text1, .text2, .text3{
    width: 648px;
    height: 400px;
    padding-top: 130px;
    padding-left: 70px;
    box-sizing: border-box;
    border: 1.5px solid #333;
}
.text3{
    padding-top: 175px;
}
.text1{
    padding-top: 190px;
}
#why h3{
    padding-bottom: 30px;
}
.img1, .img2, .img3{
    width: 669px;
    height: 397px;
    border: 1.5px solid #333;
}
.img1{
    background:url(images/why1.jpg) no-repeat center;
}
.img2{
    background: url(images/why2.jpg) no-repeat center;
}
.img3{
    background: url(images/why3.jpg) no-repeat center;
}

/*form*/
input, textarea, select { vertical-align:middle; }
#franchise{
    width: 1320px;
    margin: 0 auto;
    height: 870px;
}
table{
 border-top:1px solid #ccc; border-collapse:collapse; 
    }
tr{ border-bottom:1px solid #CCC; text-align:left; font-weight:normal; }
th, td{
    padding: 10px 0;
}
th{
    padding-right: 20px;
}
.form input { border:1px solid #CCC; padding:5px; height:26px; }
.form select { border:1px solid #CCC; padding:5px; width:80px; height:38px; }
.form input[type="button"] { background:#333; color:#FFF; padding:0 20px; 
border:0; height:38px; }
.form table td.age_pd label { padding-right:20px; }
.form textarea {resize: vertical; width:600px ; height:200px; border:1px solid #CCC; padding:5px; }
.form{
    padding: 100px 0;
    position: absolute;
    float: left;
}
.btn{
    width: 80px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    padding-top: 40px;
}
.btn a{
    display: block;
    background: rgb(16, 31, 24);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
}
.tel_text{
    padding-left: 65px;
    transition: all 0.2s;
}
.tel_text h4{
    padding-bottom: 20px;
    font-size: 18px;
}
.hidden:hover .tel_text{
    transform: scale(1.1,1.1);
    transition: all 0.5s;
    font-weight: bold;
    color: rgb(3, 145, 65);
}
.hidden{
    float: right;
    background: url(images/tel.jpg) no-repeat bottom;
    width: 613px;
    height: 412px;
    padding-top: 167px;
}
/*footer */
#footer{
    background: url(images/footer.jpg) no-repeat center;
    width: 100%;
    position: relative;
    height: 166px;
    color: rgb(11, 95, 81);
}
.footer_inner{
    width: 1320px;
    margin: 0 auto;
}
.left_ul{
    float: left;
    font-size: small;
}
.left_ul li{
    float: left;
    padding: 20px 10px;
}
.left_ul p{
    padding-top: 80px;
    line-height: 20px;
    font-size: smaller;
}
.footer_logo{
    width: 176px;
    height: 116px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -58px;
}
.right_ul{
    float: right;
    text-align: center;
}
.right_ul p{
    font-size: large;
    padding-top: 20px;
    padding-bottom: 40px;
}
.right_ul h2{
    padding-bottom: 10px;
}
.right_ul li{
    float: left;
    padding: 10px 15px;
}
.view2{
    float: right;
}
.left ul li{
    overflow: hidden;
}
.left ul li:hover img{
    transform: scale(1.2,1.2);
}
.left>ul>li>img{
    transition: all 0.5s;
}
/*footer E*/
/*top, bottom button*/
.top{position:fixed;
				bottom:10px;
				right:20px;
				width:50px;}
.top a{display:inline-block;
				padding:10px 15px;
				background:rgb(16, 31, 24);
				color:#fff;
				margin-bottom:5px;
				border-radius:50%;}